<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mercahnt">
      <h2 data-cy="mercahntDetailsHeading"><span>Mercahnt</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ mercahnt.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ mercahnt.name }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ mercahnt.address }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ mercahnt.phoneNumber }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ mercahnt.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/mercahnt', mercahnt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
